<style>
    .image {
        position: relative;
        top: 65%;
        left: 50%;
        width: 90px;
        height: 90px;
        margin:-60px 0 0 -60px;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 
        100% { -moz-transform: rotate(360deg); } 
    }
    @-webkit-keyframes spin { 
        100% { -webkit-transform: rotate(360deg); } 
    }
    @keyframes spin { 
        100% { 
            -webkit-transform: rotate(360deg); 
            transform:rotate(360deg); 
        } 
    }
</style>
<footer class="footer">
    <div class="player" style="padding-left: 10px;padding-top:10px;background-color: oldlace ;">
        <div class="left"><img src="{{song.thumbnail.url}}" class="image" style="border-radius: 50%; "></div>
            <div class="right">
                <div class="top">
                    <span class="song" style="margin-left: 15px;color: black;">{{song.name}}</span>
                    <span class="artist" style="margin-left: 15px;color:black">{{song.album}}</span>
                </div>
                <div class="bottom">
                    <audio controls=""  name="media" style="margin-left: 20px;margin-bottom: 10px;width: 1230px;height:30px"><source src="{{song.song_file.url}}" type="audio/mpeg" ></audio>
                </div>
            </div>
        </div>
    </div>
</footer>