{% extends 'base.html' %}
{% block title %}Home.html{% endblock title %}
{% block body %}
    {% include "nav.html" %}
    {% comment %} {% block search %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endblock search %} {% endcomment %}

    {% comment %} {% if messages %}
        {% include messages.html %}
    {% endif %} {% endcomment %}


    {% block content %}

    {% endblock content %}

    {% comment %} <footer>
    {% block footer %}
    
    {% endblock footer %}
    </footer> {% endcomment %}
{% endblock body %}