<div class="container">
    <div class="col-md-13">
        <form class="form-horizontal" role="search" method="get" action=''>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" style="border-radius: 5px;" name="q" value="{{ request.GET.q }}" placeholder= "Search Songs "/>
                        <select name="languages" class="custom-select mx-1" style="border-radius: 5px;">
                            <option selected="selected" disabled>Languages</option>
                                {% if all_languages %}
                                {% for language in all_languages %}
                                    <option value={{language}}>{{language}}</option>
                                {% endfor %}
                                {% endif %}
                        </select>
                        <select name="artists" class="custom-select mx-1" style="border-radius: 5px;">
                            <option selected="selected" disabled>Artists</option>
                                {% if all_artists %}
                                {% for artist in all_artists %}
                                    <option value={{artist}}>{{artist}}</option>
                                {% endfor %}
                                {% endif %}
                        </select>
                        <span class='input-group-btn'>
                            <button type="submit" style="border-radius: 5px;" class="btn btn-primary">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>